/* Стилизация кнопки */
.button {
    padding: 15px;
    text-align: center;
    min-width: 11.75rem;
    min-height: 3rem;
    border-radius: 0.5rem;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.25rem;

    transition: opacity 200ms ease-in-out, background 200ms ease-in-out;
}

.button:hover, .button:active {
    cursor: pointer;
}

.button:disabled {
    opacity: 0.5;
    pointer-events: none;
    cursor: not-allowed;
}

.button_primary {
    background-color: var(--primary);
    color: var(--white);
    border: none;
}

.button_primary:hover, .button_primary:active {
    background-color: var(--primary-darker);
}

.button_secondary {
    background-color: var(--secondary);
    color: var(--white);
    border: none;
}

.button_secondary:hover, .button_secondary:active {
    background-color: var(--secondary-darker);
}

.button_alternate {
    background-color: var(--white);
    color: var(--grey-4);
    border: 1px solid var(--grey-3);
}

.button_alternate:hover, .button_alternate:active {
    border-color: var(--black);
}
