.card {
    background: var(--white);
    box-shadow: 0px 2px 4px rgba(var(--black-rgb), 0.05);
    border-radius: 0.75rem;
    padding: 32px 25px;
    box-sizing: border-box;

    flex-basis: 350px;
    height: 367px;
    text-align: center;

    display: flex;
    flex-direction: column;
}

.card__top {
    flex-grow: 1;
}

.card__title {
    font-family: var(--font-roboto);
    font-weight: 500;
    font-size: 21px;
    line-height: 25px;
    color: var(--black);
}

@media (max-width: 1119px) {
    .card {
        padding: 0;
    }

    .card__top {
        border-bottom: 1px solid var(--grey-10);
    }

    .card__title {
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;

        font-family: var(--font-inter);
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;

        margin: 10px 0 10px;
    }
}