.page {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.main-content {
    flex-grow: 1;
    background: var(--grey-5);
}

html, body {
    height: 100%;
}

h1, h2, h4, p {
    margin: 0;
}

h1 {
    font-size: 50px;
    line-height: 4rem;
}

h2 {
    font-size: 38px;
    line-height: 3rem;
}

h4 {
    font-size: 20px;
    line-height: 26px;
}

p {
    font-size: 1rem;
    line-height: 1.5rem;
}
